@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
}

body{
   background-color: #f9e3f1;
   font-family: "Signika Negative", sans-serif;
   color: #6b415b;


}

header {
  background-color: #e74e9ae9;
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  position: fixed;
  font-family: "Signika Negative", sans-serif;

  font-size: 22px;

    box-shadow: 0 2px 4px rgba(231, 78, 154, 0.3);

    z-index: 1000;
}
.book{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-left: 20px;
}

.book-now {
    width: 140px;
    height: 50px;
    border: 2px white solid;
    background-color: #e74e9ae9;
    border-radius: 25px;
    font-family: 'Signika Negative', sans-serif;
    color: #fdfafc;
    font-size: 17px;
    font-weight: bold;
    margin-left: -40px;
    box-shadow: 0 2px 4px rgba(231, 78, 154, 0.3);
    cursor: pointer;
   } 
  
   .book-now:hover{
    box-shadow: none!important;

   }

a {
  text-decoration: none;
  color: #fdc3e7;
  font-weight: bold;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-right: 20px;
}

li {
  display: inline;
  margin-right: 15px;
}

main {
  display: flex;
}

.intro {
  display: flex;
  align-items: center;
  justify-content: left;

  padding-left: 10px;
  padding-top: 10px;
  gap: 5px;

  color:  #e74e9ae9;
}

.intro h2 {
  margin-left: auto;
  padding-right: 10px;
  font-family: "Dancing Script", cursive;
  font-size: 45px;
}

.intro-img {
  width: 40%;

  opacity: 0.9;
  border-radius: 40% 60% 74% 26% / 71% 55% 45% 29%;
  
}

.product {
  width: 100%;
}

.products {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  gap: 20px;
}

.card {
  background-color: white;
  border: 2px solid  rgba(231, 78, 154, 0.1);
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(231, 78, 154, 0.1);
  width: 300px;
}

.card h3 {
  margin-top: 0;
}

.card p {
  margin-bottom: 0;
}

.card .fas {
  color: gold;
}

.left-div {
  background-color: #f9e3f1;
  width: 70%;
  max-height: 2000px;
  margin-top: 80px;
  padding-bottom: 30px;
  font-family: 'Signika Negative', sans-serif;
  color: #6b415b;
}

.right-div {
  background-color: #fdc3e7;
  width: 30%;

  font-family: 'Signika Negative', sans-serif;
  color: #6b415b;
  margin-top: 40px;
}

footer {
  background-color: #b899ac;;
  padding: 10px;
  text-align: center;
  border-radius: 2px;

  font-family: 'Signika Negative', sans-serif;

  color: #744d65;
}





.services{
  padding-top: 100px!important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-align: center;
  

  
}



.services p{
  margin: 10px;
  max-width: 350px;
  text-align: left;
  margin-bottom: 20px;
}




.about-section{
  padding-top: 120px;
  display: flex;
  flex-direction: column;
  gap:20px;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 0%;
  justify-content: center;
  align-items: center;
}


.about-section p{
  max-width: 400px;
  text-align: center;
}




.contact-section{
  padding-top: 120px;
  display: flex;
  flex-direction: column;
  gap:20px;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 0%;
  justify-content: center;
  align-items: center;
}



.contact-section p{
  padding-top: 20px;
  
  max-width: 380px;
  
}



.break{
  width: 60%;
  background-color: #fdc3e7;
  height: 2px;
  margin-top: 40px;
  border-radius: 50%;
}



.products h3{
  margin-bottom: 8px;

}